.form-container {
  background-color: #0f1724;
  color: #ffffff;
  border-radius: 0.6rem;
  box-shadow: -1px 5px 35px -8px #080707;
  z-index: 100;
  border: none;
}
.animate__fadeIn.active {
  display: flex;
}

/* input,
select {
  color: #ffffff;
} */

.form-container:is(label) {
  font-size: 0.75rem;
}
.expense-input[type="date"]::placeholder {
  left: 1rem;
}
.expense-input[type="date"]:focus::placeholder {
  display: none;
}
.expense-input[type="text"] {
  caret-color: #ae8cfa;
  padding-bottom: 1rem;
  left: 1rem;
  border-bottom: 1px solid #455a64;
}

.expense-input[type="text"]:focus,
.expense-select,
.expense-select:focus {
  background-color: transparent;
}

.btn-submit,
.btn-cancel {
  font-size: 1rem;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 9999px;
  color: #fefaff;
}
.btn-submit {
  background: linear-gradient(283deg, #ae8cfa, #746cfe);
}
.btn-cancel {
  background: transparent;
  border: solid 3px #ae8cfa;
  transition: all 0.3s ease-in-out;
}
.btn-cancel:hover {
  background-color: #ae8cfa;
  transition: all 0.3s ease-in-out;
  box-shadow: none;
}

/* ::-webkit-calendar-picker-indicator {
  filter: invert(1);
} */
input::-webkit-calendar-picker-indicator {
  filter: invert(0.6);
}

ul[role="listbox"] li,
.expense-select span {
  background: transparent;
  text-transform: capitalize;
  /* color: #916ef17a; */
}

.expense-input[value],
.expense-select span {
  color: #fff;
}
.expense-select[disabled] span {
  color: #5e7a88;
  opacity: 0.5;
  cursor: unset;
}

ul[role="listbox"] li:hover {
  background-color: #ae8cfa54;
}
/* Handle */
ul::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #455964a6;
}

label.deactivated[name="category"] {
  top: 0.85rem;
  font-size: 0.85rem;
}

@media screen and (max-width: 568px) {
  .tw-dialog {
    max-width: 80%;
    width: 80%;
  }
}
